{% load i18n static bootstrap5 %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- change that for the own favicon -->
    <link rel="icon" href="{% static "img/logo.jpg" %}">
    <!-- getbootstrap.com template. check it out and merge into the own CSS file. -->
    <!--link href="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css" rel="stylesheet"-->
    {% bootstrap_css %}
    <!-- Project CSSs-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"-->
    {#% bootstrap_css %#}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {#% if not is_popup and is_nav_sidebar_enabled %#}
    {# <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}"> #}
    {# <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script> #}
    {#% endif %#}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <!--meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body class="{#% if is_popup %}popup {% endif %#}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <script src="https://kit.fontawesome.com/666340fc51.js" crossorigin="anonymous"></script>

    <!-- Container -->
    <!--div id="_container"-->

        {% if not is_popup %}
        <!-- Header -->
        <div id="_header">
            <div id="_branding">
            {% block branding %}
                <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                    <h5 class="my-0 mr-md-auto font-weight-normal" style="font-size: 14px"><a href="{% url 'index' %}">{{ page_title }}</a></h5>
                    <a class="p-2 text-dark" href="{% url 'index' %}">Home</a>
                    {% if user and user.is_active %}
                        Hello, {{ user }}!<a class="p-2 text-dark" href="{% url 'admin:index' %}">Administrate</a>
                    {% else %}
                        <a class="p-2 text-dark" href="{% url 'admin:login' %}">Log in</a>
                    {% endif %}
                </div>

            {% endblock %}
            </div>
            {% block usertools %}
            {% if has_permission %}
            <div id="user-tools">
                {% block welcome-msg %}
                    {% translate 'Welcome,' %}
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                    {% if site_url %}
                        <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                    {% endif %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                        {% endif %}
                    {% endif %}
                    {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                    {% endif %}
                    <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
                {% endblock %}
            </div>
            {% endif %}
            {% endblock %}
            {% block nav-global %}{% endblock %}
        </div>
        <!-- END Header -->
        {% block breadcrumbs %}
        <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
        {% endblock %}
        {% endif %}

        <div class="main shifted" id="main">
          {% if not is_popup and is_nav_sidebar_enabled %}
            {% block nav-sidebar %}
              {% include "admin/nav_sidebar.html" %}
            {% endblock %}
          {% endif %}
          <div class="content" id="content">
            {% block messages %}
              {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
              {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div id="{% block content_div_id %}content{% endblock %}" class="{% block coltype %}colM{% endblock %}">
              {% block pretitle %}{% endblock %}
              {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
              {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
              {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
              {% endblock %}
              {% block sidebar %}{% endblock %}
              <br class="clear">
            </div>
            <!-- END Content -->
            {% block footer %}<div id="footer"></div>{% endblock %}
          </div>
        </div>
    <!--/div-->
    <!-- END Container -->
    {% block scripts %}
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {#% bootstrap_javascript %#}
    {% endblock %}
</body>
</html>